<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Online Table Reservation System</title>
</head>
<body>
<h2 align="center"> Welcome to table reservation system</h2><br><br>
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}
{% endwith %}<br>
{% if not username%}
<h3> Please <a href="{{url_for('login')}}">login</a> to continue</h3>
{% else%}
Welcome {{username}},<br>
Please continue with your booking <a href="{{url_for('booking')}}">here</a><br><br><br>
{% endif %}<br><br>

<h6>Currently table booking is restricted to same day booking only</h6>
</body>
</html>