<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <script src="../static/indexjs.js"></script>
</head>
<body>
<form>
    <table>
        <tr>
            <td>Your Name</td>
            <td>
                <input id="user_name" type="text">
            </td>
        </tr>
        <tr>
            <td>Your Email</td>
            <td>
                <input id='user_email' type="email">
            </td>
        </tr>
        <tr>
            <td>Phone No:</td>
            <td>
                <input id='user_phone' type="email">
            </td>
        </tr>
        <tr>
            <td>Address</td>
            <td>
                <input id='address' type="text">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit">
            </td>
            <td>
                <input type="reset">
            </td>
        </tr>
    </table>
</form>
</body>
</html>